# ─── Mapbox ───────────────────────────────────────────────────────────────────
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoibDJKaGxXOXNkU0lzSW1FaTBpSmpiWEE0YjNab1kzb3dZVDFrTW5Kek5tTmpUQnpNM0ZpSW4wLjU3UUU0LVF1SU1lVHU0ekM4VlRpQVE=

# ─── AISstream.io ─────────────────────────────────────────────────────────────
NEXT_PUBLIC_AISSTREAM_API_KEY=6413fa9ee2563b0e187dfdb27f09d78eb55878ed

# ─── Optional: narrow bounding box for lower volume (Africa/Red Sea region) ──
# NEXT_PUBLIC_AIS_BBOX=[[[−35,−20],[37,60]]]
